@font-face {
    font-family: "proxima-nova";
    src: url("@/assets/fonts/proxima-nova-normal-700.woff2") format("woff2"),
    url("@/assets/fonts/proxima-nova-normal-700.woff") format("woff"),
    url("@/assets/fonts/proxima-nova-normal-700.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight:700;
}

@font-face {
    font-family: "proxima-nova";
    src: url("@/assets/fonts/proxima-nova-normal-400.woff2") format("woff2"),
    url("@/assets/fonts/proxima-nova-normal-400.woff") format("woff"),
    url("@/assets/fonts/proxima-nova-normal-400.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "verdigris-mvb-pro-big";
    src: url("@/assets/fonts/verdigris-mvb-pro-big.woff2") format("woff2"),
    url("@/assets/fonts/verdigris-mvb-pro-big.woff") format("woff"),
    url("@/assets/fonts/verdigris-mvb-pro-big.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("@/assets/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("@/assets/fonts/SourceCodePro-Regular.woff") format("woff"),
    url("@/assets/fonts/SourceCodePro-Regular.otf") format("opentype");
    font-display: swap;
}

body {
    @apply bg-black text-gray-200;

    main {
        @apply bg-gray-900;
    }

    .center {
        @apply mx-auto xl:w-1/2 lg:w-1/2 md:w-2/3;

        a {
            @apply border-b border-dashed text-blue-300;

            &:hover {
                @apply border-solid border-blue-400;
            }
        }
    }

    h1 {
        font-family: verdigris-mvb-pro-big, serif;
        @apply text-black text-3xl mb-10 md:mb-5 pt-4 md:pt-2 pb-3 md:pb-1 px-6 mx-10 md:mx-0 bg-gray-700 md:bg-gray-600 rounded inline-block border-b border-black text-center md:text-left;
    }

    h2 {
        font-family: verdigris-mvb-pro-big, serif;
        @apply text-gray-300 text-4xl mb-2 pt-8 pb-1 px-4 md:px-0;
    }

    h3 {
        font-family: verdigris-mvb-pro-big, serif;
        @apply text-gray-400 text-3xl mb-2 pt-10 pb-1 px-4 md:px-0;
    }

    footer {
        @apply bg-black border-t border-gray-800 mt-20 text-center text-gray-600 py-6;
    }

    .logo {
        @apply flex py-3 px-5 bg-black shadow-lg border-b border-gray-800;
    }

    .quillstack {
        font-family: verdigris-mvb-pro-big, serif;
        @apply text-2xl font-thin pt-1 pl-2 text-gray-400;
    }

    .intro {
        background: rgba(0, 0, 0, 0.5);
        @apply md:rounded pt-6 pb-2 px-4 md:px-8 shadow border-t border-b md:border border-gray-900;

        p {
            font-family: verdigris-mvb-pro-big, serif;
            @apply text-gray-200 text-xl italic leading-8 drop-shadow-sm;
        }
    }

    hr {
        @apply border-dashed mt-6 mb-4 border-gray-600;
    }

    p {
        @apply text-gray-400 text-lg pl-4 pr-2 md:px-0 pb-5;
        font-family: proxima-nova,sans-serif;

        &.before-code {
            @apply pb-0;
        }
    }

    li {
        @apply text-gray-400 text-lg;
        font-family: proxima-nova,sans-serif;
    }

    .toc {
        @apply md:mt-5 mb-5 p-5 bg-gray-800 md:rounded border-gray-700 border-dashed md:border border-t border-b;
    }

    div.list {
        ul {
            @apply list-decimal px-4 pl-4;

            li {
                @apply px-2;
            }
        }

        ol {
            @apply list-disc px-4 pl-4;

            li {
                @apply px-2;
            }
        }
    }

    div.center {
        div.list {
            @apply pl-6;
        }
    }

    div.code {
        @apply py-6 mt-8 mb-8 w-full overflow-x-scroll shadow-lg border-t border-gray-800;
        background: #2c2c2c;
    }

    div.code ul {
        @apply px-0 py-0;
    }

    div.code ul li {
        @apply whitespace-nowrap;
        font-family: "Source Code Pro", monospace;
    }

    div.code ul li span {
        @apply text-sm;
    }

    div.code ul span.variable {
        color: #a09be7;
    }

    div.code ul span.keyword {
        color: #ea5271;
    }

    div.code ul span.string {
        color: #49a078;
    }

    div.code ul span.class {
        color: #79addc;
    }

    div.code ul span.char {
        color: #e9e9e9;
    }

    div.code ul span.method {
        color: #f7c548;
    }

    div.hero {
        @apply bg-black pt-10 pb-10 h-auto bg-cover shadow md:mb-4 md:border-b md:border-gray-800;
    }
}
